*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
img{display: block;}
a{text-decoration: none; color: rgb(58, 52, 53);}
h1,h2,h3{font-size: 16px;}
body{font-family: Arial;}

.l{float: left;}
.r{float: right;}
.clear:after{content: ''; clear: both; display: block;}
/* 版心居中 */
.container{width: 1080px; margin: 0 auto; position: relative;}
.container-fluid{width: 100%;}

#head{height: 81px;}
#head .head_logo{width: 162px; height: 44px; margin-top: 19px;}
/* line-height和父容器height一样表示文字高度居中 */
#head .head_menu{font-size: 14px; line-height: 81px;}
#head .head_menu li{float: left; margin-left: 58px;}


