*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
img{display: block;}
a{text-decoration: none; color: rgb(58, 52, 53);}
h1,h2,h3{font-size: 16px;}
body{font-family: Arial;}

.l{float: left;}
.r{float: right;}
.clear:after{content: ''; clear: both; display: block;}
/* 版心居中 */
.container{width: 1080px; margin: 0 auto; position: relative;}
.container-fluid{width: 100%;}

#head{height: 81px;}
#head .head_logo{width: 162px; height: 44px; margin-top: 19px;}
/* line-height和父容器height一样表示文字高度居中 */
#head .head_menu{font-size: 14px; line-height: 81px;}
#head .head_menu li{float: left; margin-left: 58px;}

.area_title{margin-top: 60px; text-align: center;}
.area_title h2{height: 20px; line-height: 20px; font-size: 20px; color: black;
background: url(title_bg.png) no-repeat center 7px; font-weight: normal;}
.area_title p{color: gray; font-size: 14px; line-height: 34px;}

#foot{background: rgb(21, 197, 171);}
#foot .container{height: 54px; line-height: 54px; font-size: 12px; color: white;}
#foot div a{color: white; margin: 0 10px;}
