@charset "UTF-8";
.btn, .btn-primary, .btn-success {
  width: 200px;
  height: 50px;
}

.btn a, .btn-primary a, .btn-success a {
  color: red;
}

.btn a：hover, .btn-primary a：hover, .btn-success a：hover {
  background: orange;
  color: yellow;
}

.btn-primary {
  background: cornflowerblue;
}

.btn-success {
  background: cyan;
}
